.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link_wrapper {
    width: 240px;
    padding: 0.75rem;
    background-color: #222;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

.wrapper p {
    font-size: 1rem;
    font-weight: 500;
}